<div class = "d-flex justify-content-around mt-4">
<table class="table">
  <thead class="thead bg-info text-white">
    <tr>
      <th>#</th>
      <th>Lead Status</th>
      <th>Total Count</th>
      <th>Count This Week</th>
      <th>Count This Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Collected</td>
      <td>{{ total_collect.all }}</td>
      <td>{{ total_collect.week }}</td>
      <td>{{ total_collect.month }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Uncontacted</td>
      <td>{{ total.Uncontacted }}</td>
      <td>{{ week.Uncontacted }}</td>
      <td>{{ month.Uncontacted }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Deciding</td>
      <td>{{ total.Undecided}}</td>
      <td>{{ week.Undecided }}</td>
      <td>{{ month.Undecided }}</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Converted</td>
      <td>{{ total.Converted}}</td>
      <td>{{ week.Converted }}</td>
      <td>{{ month.Converted }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Not Converted</td>
      <td>{{ total.Interested}}</td>
      <td>{{ week.Interested }}</td>
      <td>{{ month.Interested }}</td>
    </tr>
  </tbody>
</table>
</div>
