<nav class="slide-menu" id="sidebar" style = "background-color: #3f97bc">
	<div class="sidebar-header" style = "background-color: #3f97bc">
		<h3>Gokruze Marketing Tool</h3>
	</div>

	<ul class="list-unstyled components">
		<li>
			<a href="{% url 'home' %}">Dashboard</a>
		</li>
		<li>
			<a href="{% url 'leads' %}">All Leads</a>
		</li>
		<li>
			<a href="#routeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leads by City</a>
			<ul class="collapse list-unstyled" id="routeSubmenu" style = "background-color: #3f97bc" >
				<li>
					<a href="{% url 'city_leads_list' city='Kochi'%}">Kochi</a>
				</li>
				<li>
					<a href="{% url 'city_leads_list' city='Mumbai'%}">Mumbai</a>
				</li>
				<li>
					<a href="{% url 'city_leads_list' city='Pune'%}">Pune</a>
				</li>
				<li>
					<a href="{% url 'city_leads_list' city='Banglore'%}">Banglore</a>
				</li>
				<li>
					<a href="{% url 'city_leads_list' city='Hyderabad'%}">Hyderabad</a>
				</li>
				<li>
					<a href="{% url 'city_leads_list' city='Calcutta'%}">Calcutta</a>
				</li>
			</ul>
		</li>
 		{% comment %} <li>
			<a href="#leadSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Routes by City</a>
			<ul class="collapse list-unstyled" id="leadSubmenu" style = "background-color: #3f97bc" >
				<li>
					<a href="{% url 'routes/kochi' %}">Kochi</a>
				</li>
				<li>
					<a href="{% url 'routes/mumbai' %}">Mumbai</a>
				</li>
				<li>
					<a href="{% url 'routes/pune' %}">Pune</a>
				</li>
				<li>
					<a href="{% url 'routes/banglore' %}">Banglore</a>
				</li>
				<li>
					<a href="{% url 'routes/hydrabad' %}">Hydrabad</a>
				</li>
				<li>
					<a href="{% url 'routes/calcutta' %}">Calcutta</a>
				</li>
			</ul>
		</li> {% endcomment %}
		<li>
			<a href="{% url 'routes' %}">All Routes</a>
		</li>
		<li>
			<a href="#leadSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Routes by City</a>
			<ul class="collapse list-unstyled" id="leadSubmenu" style = "background-color: #3f97bc" >
				<li>
					<a href="{% url 'city_routes_list' city='Kochi'%}">Kochi</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Mumbai'%}">Mumbai</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Pune'%}">Pune</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Banglore'%}">Banglore</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Hyderabad'%}">Hyderabad</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Calcutta'%}">Calcutta</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports by City</a>
			<ul class="collapse list-unstyled" id="reportSubmenu" style = "background-color: #3f97bc" >
				<li>
					<a href="{% url 'city_routes_list' city='Kochi'%}">Kochi</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Mumbai'%}">Mumbai</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Pune'%}">Pune</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Banglore'%}">Banglore</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Hyderabad'%}">Hyderabad</a>
				</li>
				<li>
					<a href="{% url 'city_routes_list' city='Calcutta'%}">Calcutta</a>
				</li>
			</ul>
		</li>
		{% comment %} <li>
			<a href="{% url 'leads' %}">My Profile</a>
		</li> {% endcomment %}
	</ul>

	<ul class="list-unstyled CTAs">
		<li>
			<a href="{% url 'logout' %}" class="download">Logout</a>
		</li>
	</ul>
</nav>

