<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Total Leads Collected : " + {{ total_collect.all }},
		horizontalAlign: "left"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent%",
		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
		dataPoints: [
			{ y: {{ total.Converted }} , label: "Converted" },
			{ y: {{ total.Uncontacted }}, label: "Uncontacted" },
			{ y: {{ total.Interested }}, label: "Not Interested" },
			{ y: {{ total.Undecided }}, label: "Deciding"},
		]
	}]
});
chart.render();

}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>